doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .menu
      a(href="/p") ITEM_P
      a(href="/") ITEM_HOME
      a(href="") ITEM_3
      a(href="") ITEM_4
    block content
